.auth-body {
    width: 100%;
    height: calc(95vh - 48px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.auth-box {
    border: black;
    border-radius: 4px;
    padding: 50px 75px;
    margin-bottom: 50px;
    text-align: center;
    background-color: var(--box-color);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
    z-index: 1;
}


.auth-title {
    font-size: 32px;
    margin-bottom: 25px;
    color: black;
}

.auth-inputs {
    display: flex;
    flex-direction: column;
}


.auth-buttons {
    margin-top: 15px;
}

.auth-buttons Button {
    margin-right: 10px;
}

.auth-buttons Button:last-of-type {
    margin-right: 0;
}

@media only screen and (max-width: 1800px) {
    .auth-body { height: calc(92vh - 41px); }

    .auth-box { padding: 25px 50px; }
}