.dark {
    background-color: black;
    color: whitesmoke;
}
.dark .task
{
    background-color: black;
    color: whitesmoke;
}
.dark .task-box {
    background-color: rgb(51, 50, 50);
}
.dark .tri:nth-child(2){
    border-left: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
}
.dark .task-header{
    border-bottom: 2px solid whitesmoke;
}
.dark .auth-box{
    border: 2px solid whitesmoke;
}
.dark .auth-inputs{
    border: whitesmoke;
}
.dark .auth-title{
    color: whitesmoke;
}
.light{
    background-color: whitesmoke;
    color: black
}