.footer{
    width: 100%;

    /* background-color: var(--dark-blue); */
    /* background-color: #f3d2c1; */
    background-color: #1b2245;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socialMedia svg {
    /* color: #001858; */
    color: #fffffe;

    margin: 25px 10px 0;
    font-size: 32px;

    cursor: pointer;
}

.footer p {
    /* color: #001858; */
    color: #fffffe;
}

.icon:hover {
    color: var(--purple);
}