.footer{
    width: 100%;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socialMedia svg {
    color: whitesmoke;
    margin: 25px 10px 0;
    font-size: 32px;
    cursor: pointer;
}

.footer p {
    color: whitesmoke;
}

.icon:hover {
    color: var(--purple);
}