.footer{
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socialMedia svg {
    color: var(--font);

    margin: 25px 10px 0;
    font-size: 32px;

    cursor: pointer;
}

.footer p {
    color: var(--font);
}

.icon:hover {
    color: var(--purple);
}