.home{
    width: 100%;
    padding: 50px;
    /* background-color: var(--blue); */
    /* background-color: #fef6e4; */
    background-color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-content: flex-start;
}
.home .leftSide{
    height: 100%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .leftSide h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 10;
    font-size: 50px;
    margin-left: 30px;
    color: var(--font);
    text-align: left;
}
.home .leftSide p{
    padding: 0;
    font-size: 30px;
    font-weight: lighter;
    color: var(--font);
}
.home .leftSide button{
    color: #fffffe;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: var(--box-color);
    height: 50px;
    width: 180px;
    text-decoration: none;
    font-size: 20px;
}