.layout {
    width: 100%;
    display: flex;
    margin: 25px 0;
}

.tri {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tri:nth-child(2) {
    border-left: 2px solid black;
    border-right: 2px solid black;

}

.task {
    border: 2px solid black;
    border-radius: 4px;
    width: 50%;
    padding: 25px;
    margin-bottom: 15px;
    text-align: start;
}

.task:last-of-type {
    margin-bottom: 0;
}

.task-header {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
}

.task-title {
    font-size: 24px;
}

.task-date {
    margin-right: 0;
    margin-left: auto;
}