.tri {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}

.tri:nth-child(2) {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.type-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
}

.task-box {
    height: 100%;
    width: 70%;
    padding: 10px;
    border-radius: 4px;
    background-color: #e1e1e1;
    transition-duration: 0.5s;
}

.task-drag {
    border-radius: 4px;
    margin-bottom: 10px;
}

.task-drag:last-of-type {
    margin-bottom: 0;
}

.task-drag:hover {
    cursor: pointer;
}

.task {
    border-radius: 4px;
    background-color: white;
    padding: 25px;
    margin-bottom: 10px;
    text-align: start;
}

.task:last-of-type {
    margin-bottom: 0;
}

.task-header {
    border-bottom: 2px solid var(--black);
    padding-bottom: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
}

.task-title {
    font-size: 24px;
}

.task-date {
    margin-right: 0;
    margin-left: auto;
}

.create-page {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px) contrast(80%);
}

.create-box {
    border-radius: 4px;
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
    text-align: center;
}

.create-buttons {
    margin-top: 25px;
}

.create-buttons Button:first-of-type {
    margin-right: 15px;
}

.add-icon {
    position: fixed;
    bottom: 250px;
    right: 50px;
}

.delete-icon {
    top: 10px;
    z-index: 0;
}

@media only screen and (max-width: 1800px) {
    .task-box { width: 90%; }
}