.panel {
    position: fixed;
    display: flex;
    align-items: flex-end;
    height: 5vh;
    width: 100%;
    background-color: var(--dark-blue);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
}

.app-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 15px 25px;
    color: white;
}

.auth {
    margin: 0 25px 10px auto;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 16px;
    border: none;
    background-color: transparent;
    color: white;
    transition: 0.3s;
}

.auth:hover {
    background-color: var(--purple);
    cursor: pointer;
}

.body {
    position: relative;
    top: 5vh;
    width: 100%;
    /* height: 95vh; */
}

.post-it {
    position: fixed;
    min-height: 325px;
    width: 275px;
    margin-left: 50px;
    padding: 25px;
    transition-duration: 0.3s;
    display: flex;
    flex-direction: column;
}

.post-it:hover {
    border-bottom-left-radius: 64px;
    margin-left: 375px;
    /* background-clip: content-box; */
    /* box-shadow: inset 0 0 0 15px #FF7A59; */
    /* z-index: 1; */
}

.post-it .corner {
    transition-delay: 0s;
    visibility: hidden;
}

.post-it:hover .corner {
    transition-delay: 0.15s;
    visibility: visible;
}

.corner {
    position: absolute;
    height: 60px;
    width: 60px;
    left: 2px;
    bottom: 2px;
    border-bottom-left-radius: 64px;
}

.corner:hover {
    cursor: pointer;
}

.post-select {
    width: 100%;
    background-color: transparent;
    border: none;
    resize: none;
    padding: 0;
}

.post-select:focus {
    outline: none;
}

.post-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.post-body {
    margin-top: 25px;
    text-align: justify;
    /* font-style: italic; */
}

/* width */
.post-body::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.post-body::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.post-body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--gray);
}

/* Handle on hover */
.post-body::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.gray {
    background-color: var(--gray);
}

.yellow {
    background-color: var(--yellow);
}

.p-green {
    background-color: var(--p-green);
}

.p-green-dark {
    background-color: var(--p-green-dark);
}

.p-blue {
    background-color: var(--p-blue);
}

.p-blue-dark {
    background-color: var(--p-blue-dark);
}

.p-orange {
    background-color: var(--p-orange);
}

.p-orange-dark {
    background-color: var(--p-orange-dark);
}

.p-purple {
    background-color: var(--p-purple);
}

.p-purple-dark {
    background-color: var(--p-purple-dark);
}

.p-pink {
    background-color: var(--p-pink);
}

.p-pink-dark {
    background-color: var(--p-pink-dark);
}

.p-yellow {
    background-color: var(--p-yellow);
}

.p-yellow-dark {
    background-color: var(--p-yellow-dark);
}

@media only screen and (max-width: 1800px) {
    .panel { height: 8vh; }

    .body { top: 8vh; }
}