.panel {
    position: fixed;
    display: flex;
    align-items: flex-end;
    height: 5vh;
    width: 100%;
    background-color: #171d3e;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
}

.app-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 15px 25px;
    color: white;
}

.auth {
    margin: 0 25px 10px auto;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 16px;
    border: none;
    background-color: transparent;
    color: white;
    transition: 0.3s;
}

.auth:hover {
    background-color: var(--purple);
    cursor: pointer;
}

.body {
    position: relative;
    top: 5vh;
    width: 100%;
}

.post-animate {
    position: fixed;
    animation-name: landing;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
    margin-top: 5vh;
}

.post-animate:hover {
    /* border-bottom-left-radius: 64px; */
    padding-left: calc(10vw + 100px);
    /* box-shadow: inset 0 0 0 15px #FF7A59; */
}

.post-animate:nth-child(2) { animation-delay: 0.25s; margin-top: 15vh; }
.post-animate:nth-child(3) { animation-delay: 0.5s; margin-top: 25vh; }
.post-animate:nth-child(4) { animation-delay: 0.75s; margin-top: 35vh; }
.post-animate:nth-child(5) { animation-delay: 1s; margin-top: 45vh; }
.post-animate:nth-child(6) { animation-delay: 1.25s; margin-top: 55vh; }

.post-it {
    height: 25vh;
    transition-duration: 0.5s;
    background-clip: content-box;
    display: flex;
    flex-direction: column;
}

.post-it:hover {
    border-bottom-left-radius: 64px;
}

.post-drag {
    position: relative;
    transition-duration: 0.3s;
}

.post-drag:hover {
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
}

.post-it .corner {
    transition-delay: 0s;
    visibility: hidden;
}

.post-it:hover .corner {
    transition-delay: 0.15s;
    visibility: visible;
}

.corner {
    position: absolute;
    height: 60px;
    width: 60px;
    left: 2px;
    bottom: 2px;
    border-bottom-left-radius: 64px;
}

.corner:hover {
    cursor: pointer;
}

.post-select {
    width: 100%;
    background-color: transparent;
    border: none;
    resize: none;
    padding: 0;
}

.post-select:focus {
    outline: none;
}

.post-title {
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
}

.post-body {
    margin: 25px;
    text-align: justify;
    width: 10vw;
    /* font-style: italic; */
}

/* width */
.post-body::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.post-body::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.post-body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--gray);
}

/* Handle on hover */
.post-body::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.gray {
    background-color: var(--gray);
}

.yellow {
    background-color: var(--yellow);
}

.p-green {
    /* background-color: var(--p-green); */
    /* background-color: #f3d2c1; */
    background-color: #c3f0ca;
}

.p-green-dark {
    /* background-color: var(--p-green-dark); */
    background-color: #a0e7ab;
}

.p-blue {
    /* background-color: var(--p-blue); */
    /* background-color: #8bd3dd; */
    background-color: #8bd3dd;
}

.p-blue-dark {
    /* background-color: var(--p-blue-dark); */
    background-color: #6fc8d5;
}

.p-orange {
    /* background-color: var(--p-orange); */
    /* background-color: #f1ad8a; */
    background-color: #ffc0ad;
}

.p-orange-dark {
    /* background-color: var(--p-orange-dark); */
    background-color: #ff9f82;
}

.p-purple {
    /* background-color: var(--p-purple); */
    /* background-color: #e3ebc6; */
    background-color: #9656a1;
}

.p-purple-dark {
    /* background-color: var(--p-purple-dark); */
    background-color: #874d91;
}

.p-pink {
    /* background-color: var(--p-pink); */
    /* background-color: #f582ae; */
    background-color: #eebbc3;
}

.p-pink-dark {
    /* background-color: var(--p-pink-dark); */
    background-color: #e699a5;
}

.p-yellow {
    /* background-color: var(--p-yellow); */
    background-color: #E0D268;
}

.p-yellow-dark {
    /* background-color: var(--p-yellow-dark); */
    background-color: #daca4d;
}

@media only screen and (max-width: 1800px) {
    .panel { height: 8vh; }

    .body { top: 8vh; }

    .post-it { height: 30vh; }

    .post-body { width: 12.5vw; }

    .post-animate { 
        margin-top: 3vh;
        animation-name: landing-small;
        animation-duration: 1s;
        animation-fill-mode: forwards;
     }

    .post-animate:hover { padding-left: calc(12.5vw + 75px); }

    .post-animate:nth-child(2) { margin-top: 11vh; }
    .post-animate:nth-child(3) { margin-top: 19vh; }
    .post-animate:nth-child(4) { margin-top: 27vh; }
    .post-animate:nth-child(5) { margin-top: 35vh; }
    .post-animate:nth-child(6) { margin-top: 43vh; }
}

@keyframes landing {
    from { 
        margin-left: -325px;
    }
    to { 
        margin-left: 75px; 
        visibility: visible;
    }
}

@keyframes landing-small {
    from { 
        margin-left: -325px;
    }
    to { 
        margin-left: 25px; 
        visibility: visible;
    }
}