:root {
  --black: #222222;
  --red: #cb3434;
  --brick-red: #C45349;
  --purple: #a199ed;
  --blue: #4e59d0;
  --dark-blue: #191970;
  --gray: #b4b4b4;
  --yellow: #F9F091;
  --p-green: #5ACF76;
  --p-blue: #53BCDA;
  --p-orange: #FF7F36;
  --p-purple: #B460DA;
  --p-pink: #F06D99;
  --p-yellow: #F6DD3A;
}

body {
  color: var(--black);
}

.page-body {
  position: relative;
  top: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout {
  min-height: calc(95vh - 164px);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

@media only screen and (max-width: 1800px) {
  .page-body { top: 8vh; }

  .layout { min-height: calc(92vh - 165px); }
}
