:root {
  --red: #cb3434;
  --brick-red: #C45349;
  --purple: #a199ed;
}

.page-body {
  position: relative;
  top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
